TestConfiguration/TestDefinition.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:simpleType name="UniqueCSharpIdentifier">
    <xs:restriction base="xs:ID">
      <xs:pattern value="[a-zA-Z_][a-zA-Z0-9_]{1,1023}"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="ValidCSharpNamespace">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        <![CDATA[
          ValidCSharpNamespace simpleType:
          - RegEx to validate a C# namespace; for example, "ABT.Test.TestLib.TestConfiguration".
          - Type: xs:string + xs:restriction + xs:pattern.
        ]]>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="^(?:[A-Za-z_][A-Za-z0-9_]*)(?:\.[A-Za-z_][A-Za-z0-9_]*)*$"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ValidWindowsPath">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        <![CDATA[
          ValidWindowsPath simpleType:
          - RegEx to validate a Windows Path; for example, "C:\Program Files\ABT\Test\TestLib\TestDefinition\".
          - Type: xs:string + xs:restriction + xs:pattern.
        ]]>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z]:(\\[^&lt;&gt;:&quot;/\\|?*]+)+"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ValidSerialNumber_BRHYYWW-123">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        <![CDATA[
          ValidSerialNumber_BRHYYWW-123 simpleType:
          - RegEx to validate Borisch's BRHYYWW-### SN format; for example, "BRH2432-123".
          - Type: xs:string + xs:restriction + xs:pattern.
        ]]>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="BRH-[0-9]{2}((0[1-9])|([1-4][0-9])|(5[0-2]))-[0-9]{3}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ValidSerialNumber_01BB2-12345">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        <![CDATA[
          ValidSerialNumber_01BB2-12345 simpleType:
          - RegEx to validate ABT's cage-coded SN format; for example, "01BB2-12345"
          - Type: xs:string + xs:restriction + xs:pattern.
        ]]>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="01BB2-[0-9]{5}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ValidSerialNumber_1234">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        <![CDATA[
          ValidSerialNumber_1234 simpleType:
          - RegEx to validate a 4 digit SN format; for example, "1234".
          - Type: xs:string + xs:restriction + xs:pattern.
        ]]>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{4}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ValidSerialNumber_12345">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        <![CDATA[
          ValidSerialNumber_12345 simpleType:
          - RegEx to validate a 5 digit SN format; for example, "12345".
          - Type: xs:string + xs:restriction + xs:pattern.
        ]]>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{5}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:attribute name="Description" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        <![CDATA[
            Description attribute:
            - Required.
            - Type: xs:string.
        ]]>
      </xs:documentation>
    </xs:annotation>
  </xs:attribute>

  <xs:attribute name="Folder" type="ValidWindowsPath">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        <![CDATA[
            Folder attribute:
            - Type: ValidWindowsPath.
          ]]>
      </xs:documentation>
    </xs:annotation>
  </xs:attribute>

  <xs:attributeGroup name="SerialNumberAttributes">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        <![CDATA[
          SerialNumberAttributes attributeGroup:
          - Type: SerialNumberEntry + SerialNumberRegEx.
          ]]>
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="SerialNumberEntry" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          SerialNumberEntry attribute:
          - Required.
          - Type: xs:enumeration.
          ]]>
        </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Barcode"/>
          <xs:enumeration value="Keyboard"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="SerialNumberRegEx" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          SerialNumberRegEx attribute:
          - Optional.
          - RegEx to validate Serial Number entry.
          - Type: xs:string + xs:restriction + xs:pattern.
          ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:attributeGroup name="InstrumentAttributeGroup">
    <xs:attribute name="ID" type="xs:ID" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          ID attribute:
          - Required.
          - Type: xs:ID.
          ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="NameSpacedClassName" type="ValidCSharpNamespace" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          NameSpacedClassName attribute:
          - Required.
          - Type: ValidCSharpNamespace.
          ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:complexType name="Customer">
    <xs:attribute name="Name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Name attribute:
          - Required.
          - Type: xs:string.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Division" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Division attribute:
          - Optional.
          - Type: xs:string.
          ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Location" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Location attribute:
          - Optional.
          - Type: xs:string.
          ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="TestSpecification">
    <xs:attribute name="Document" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Document attribute:
          - Required.
          - Type: xs:string.
          ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Revision" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Revision attribute:
          - Required.
          - Type: xs:string.
          ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Title" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Title attribute:
          - Optional.
          - Type: xs:string.
          ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Date" type="xs:date" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Date attribute:
          - Optional.
          - Type: xs:date.
          ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="Documentation">
    <xs:attribute ref="Folder" use="required"/>
  </xs:complexType>

  <xs:complexType name="Developer">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        <![CDATA[
          Developer complexType:
          -Type: Developer.
        ]]>
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="Name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Name attribute:
          - Required.
          - Type: xs:string.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Language" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Language attribute:
          - Required.
          - Type: xs:enumeration.
        ]]>
        </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="CSharp"/>
          <xs:enumeration value="Python"/>
          <xs:enumeration value="VEE"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Comment" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Comment attribute:
          - Optional.
          - Type: xs:string.
          ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="Repository">
    <xs:attribute name="URL" type="xs:anyURI" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
            URL attribute:
            -Required.
            -Type: xs:anyURI:
          ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="Modification">
    <xs:attribute name="Who" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Who attribute:
          - Required.
          - Type: xs:string.
          ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="What" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          What attribute:
          - Required.
          - Type: xs:string.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="When" type="xs:date" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          When attribute:
          - Required.
          - Type: xs:date.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Where" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Where attribute:
          - Required.
          - Type: xs:string.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Why" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Why attribute:
          - Required.
          - Type: xs:string.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="TextFiles">
    <xs:attribute ref="Folder" use="required"/>
    <xs:attributeGroup ref="SerialNumberAttributes"/>
  </xs:complexType>

  <xs:complexType name="SQLDB">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        <![CDATA[
          SQLDB complexType:
          -Type: SQLDB.
        ]]>
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="ConnectionString" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          ConnectionString attribute:
          - Required.
          - Type: xs:string.
          ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="SerialNumberAttributes"/>
  </xs:complexType>

  <xs:complexType name="Stationary">
    <xs:attributeGroup ref="InstrumentAttributeGroup"/>
  </xs:complexType>

  <xs:complexType name="Mobile">
    <xs:attributeGroup ref="InstrumentAttributeGroup"/>
    <xs:attribute name="Detail" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Detail attribute:
          - Required.
          - Type: xs:string.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Address" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Address attribute:
          - Required.
          - Type: xs:string.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:attributeGroup name="MethodAttributes">
    <xs:attribute name="Name" type="UniqueCSharpIdentifier" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
            Name attribute:
            - Required.  A method is analogous to a leaf in a root/trunk/branch/leaf hierarchy.
            - Type: UniqueCSharpIdentifier.
          ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute ref="Description" use="required"/>
    <xs:attribute name="CancelNotPassed" type="xs:boolean" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
            CancelNotPassed attribute:
            - Required.
            - Type: xs:boolean.
                  
            Determines if subsequent testing is cancelled if method fails.
          ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:complexType name="MethodCustom">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        <![CDATA[
          MethodCustom complexType:
          - Optional, 0 or more occurrences.
          - Type: MethodCustom.
          - Returns: an EVENT enum member converted to System.String.
        ]]>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Parameter" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            <![CDATA[
              Parameter element:
              - Optional, 0 or more occurrences.
              - Type: xs:string.
            ]]>
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="Key" type="xs:string" use="required">
            <xs:annotation>
              <xs:documentation xml:lang="en">
                <![CDATA[
                  Key attribute:
                  - Required.
                  - Type: xs:string.
                  - Restriction: Key must be unique within it's MethodCustom.
                      
                  Parameter's Key of it's Key/Value pair.
                ]]>
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="Value" type="xs:string" use="required">
            <xs:annotation>
              <xs:documentation xml:lang="en">
                <![CDATA[
                  Value attribute:
                  - Required.
                  - Type: xs:string.
                      
                  Parameter's Value of it's Key/Value pair.
                  - Values can be duplicated.
                ]]>
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="MethodAttributes"/>
  </xs:complexType>

  <xs:complexType name="MethodInterval">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        <![CDATA[
          MethodInterval complexType:
          - Optional, 0 or more occurrences.
          - Type: MethodInterval.
          - Returns: System.Double converted to System.String.
                      
          Tests numbers against their Low & High limits.
        ]]>
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="LowComparator" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
            LowComparator attribute:
            - Required.
            - Type: xs:string.
          ]]>
        </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="GE">
            <xs:annotation>
              <xs:documentation xml:lang="en">GE is ≥</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="GT">
            <xs:annotation>
              <xs:documentation xml:lang="en">GT is &gt;</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attributeGroup ref="MethodAttributes"/>
    <xs:attribute name="Low" type="xs:double" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
            Low attribute:
            - Required.
            - Type: xs:double.
                      
            Low measurement limit, must be ≤ High.
            - Scientific notation permitted; for example, Low="-1.5E-2" for -0.015.
            - Low="-INF" disables lower limit; "-INF" = -∞.
          ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="High" type="xs:double" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
            High attribute:
            - Required.
            - Type: xs:double.
                      
            High measurement limit, must be ≥ Low.
            - Scientific notation permitted; for example, High="1.5E2" for 150.
            - High="INF" disables upper limit; "INF" = +∞.
          ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="HighComparator" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
            HighComparator attribute:
            - Required.
            - Type: xs:string.
          ]]>
        </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="LE">
            <xs:annotation>
              <xs:documentation xml:lang="en">LE is ≤</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="LT">
            <xs:annotation>
              <xs:documentation xml:lang="en">LT is &lt;</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="FractionalDigits" type="xs:nonNegativeInteger" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
            FractionalDigits attribute:
            - Required.
            - Type: xs:nonNegativeInteger.
                      
            Fractional Digits, measurement's rounding precision.
            - FractionalDigits="2" rounds 1.555 to 1.56.
            - FractionalDigits="1" rounds 1.555 to 1.6.
            - FractionalDigits="0" rounds 1.555 to 2.
          ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="UnitPrefix" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
            UnitPrefix attribute:
            - Required.
            - Type: xs:string.
                      
            Subset of relevant System International prefixes from 1E+15 to 1E-15.
          ]]>
        </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="NONE"/>
          <xs:enumeration value="peta"/>
          <xs:enumeration value="tera"/>
          <xs:enumeration value="giga"/>
          <xs:enumeration value="mega"/>
          <xs:enumeration value="kilo"/>
          <xs:enumeration value="hecto"/>
          <xs:enumeration value="deca"/>
          <xs:enumeration value="deci"/>
          <xs:enumeration value="centi"/>
          <xs:enumeration value="milli"/>
          <xs:enumeration value="micro"/>
          <xs:enumeration value="nano"/>
          <xs:enumeration value="pico"/>
          <xs:enumeration value="femto"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Units" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
            Units attribute:
            - Required.
            - Type: xs:string.
                      
            Subset of relevant System International derived units, incorrectly but usefully capitalized.
          ]]>
        </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="NONE"/>
          <xs:enumeration value="Amperes"/>
          <xs:enumeration value="Celcius"/>
          <xs:enumeration value="Farads"/>
          <xs:enumeration value="Henries"/>
          <xs:enumeration value="Hertz"/>
          <xs:enumeration value="Ohms"/>
          <xs:enumeration value="Seconds"/>
          <xs:enumeration value="Siemens"/>
          <xs:enumeration value="Volts"/>
          <xs:enumeration value="VoltAmperes"/>
          <xs:enumeration value="Watts"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="UnitSuffix" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
            UnitSuffix attribute:
            - Required.
            - Type: xs:string.
                      
            Relevant to Volt/Ampere Units.
          ]]>
        </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="NONE"/>
          <xs:enumeration value="AC"/>
          <xs:enumeration value="DC"/>
          <xs:enumeration value="Peak"/>
          <xs:enumeration value="PP"/>
          <xs:enumeration value="RMS"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <!-- <xs:assert test="@Low le @High"/> Without XSD 1.1, xs:assert won't process.  Perform this validation downstream in C# validation method.-->
  </xs:complexType>

  <xs:complexType name="MethodProcess">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        <![CDATA[
          MethodProcess complexType:
          - Optional, 0 or more occurrences.
          - Type: MethodProcess.
          - Returns: System.Diagnostics.Process result as a System.String
                      
          Invokes a .Net System.Diagnostics.Process.
        ]]>
      </xs:documentation>
    </xs:annotation>
    <xs:attributeGroup ref="MethodAttributes"/>
    <xs:attribute name="Path" type="ValidWindowsPath" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
            Path attribute:
            - Required.
            - Type: ValidWindowsPath.
                      
            External Process' Windows path to executable file, less executable file name.
          ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Executable" type="ValidWindowsPath" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
            Expected attribute:
            - Required.
            - Type: ValidWindowsPath.
                      
            External Process' executable Windows file name, less file path.
          ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Parameters" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
            Parameters attribute:
            - Required.
            - Type: xs:string.
                      
            External Process' parameters. Enter Parameters="" if inapplicable.
          ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Expected" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
            Expected attribute:
            - Required.
            - Type: xs:string.
                      
            External Process' expected return value.  Enter Expected="" if inapplicable.
          ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="MethodTextual">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        <![CDATA[
          MethodTextual complexType:
          - Optional, 0 or more occurrences.
          - Type: MethodTextual.
          - Returns: System.String.
                      
          Tests textual results against their expected values.
        ]]>
      </xs:documentation>
    </xs:annotation>
    <xs:attributeGroup ref="MethodAttributes"/>
    <xs:attribute name="Text" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="TestGroup">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        <![CDATA[
          TestGroup complexType:
          - Required, 1 or more occurrences.
          - Type: TestGroup.
          - Restriction: name must be unique within it's TestOperation.
                      
          Container for 1 or more MethodCustom, MethodProcess, MethodInterval and/or MethodText elements.
        ]]>
      </xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="1" maxOccurs="unbounded">
      <xs:element name="MethodCustom" type="MethodCustom">
        <xs:unique name="uniqueKey">
          <xs:selector xpath="Parameter"/>
          <xs:field xpath="@Key"/>
        </xs:unique>
      </xs:element>
      <xs:element name="MethodInterval" type="MethodInterval"/>
      <xs:element name="MethodProcess" type="MethodProcess"/>
      <xs:element name="MethodTextual" type="MethodTextual"/>
    </xs:choice>
    <xs:attribute name="Class" type="UniqueCSharpIdentifier" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
            Class attribute:
          - Required, 1 or more occurrences.
            - Type: UniqueCSharpIdentifier.
            
            A class is analogous to a branch in a root/trunk/branch/leaf hierarchy.         
            - Note, Class names are not Windows File names, even if both can be identically named and are often conflated.
          ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute ref="Description" use="required"/>
    <xs:attribute name="CancelNotPassed" type="xs:boolean" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
            CancelNotPassed attribute:
            - Required.
            - Type: xs:boolean.

            Determines if subsequent testing is cancelled if any group method with CancelNotPassed=true doesn't pass. Ignores failing CancelNotPassed=false.
          ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Independent" type="xs:boolean" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
            Independent attribute:
            - Required.
            - Type: xs:boolean.

            Determines if Test Group is independently executable outside of this Test Operation, for trouble-shooting.
          ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="TestOperation">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        <![CDATA[
          TestOperation complexType:
          - Required, 1 or more occurrences.
          - Type: TestOperation.
                      
          Container for 1 or more TG elements.
        ]]>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TestGroup" type="TestGroup" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="NamespaceTrunk" type="ValidCSharpNamespace" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
            NamespaceTrunk attribute:
            - Required.
            - Type: ValidCSharpNamespace.
          
            NamespaceTrunk is analogous to a trunk in a root/trunk/branch/leaf hierarchy.
            - Note, namespaces are not Windows paths, even if both can be similarly named and are often conflated.
          ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute ref="Description" use="required"/>
  </xs:complexType>


  <xs:element name="TestDefinition">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        <![CDATA[
          TestDefinition root element.
          - Required, 1 occurence.
          - Type: xs:element.
        ]]>
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="UUT" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              <![CDATA[
                UUT complexType.
                - Required, 1 occurence.
                - Type: xs:element.
              ]]>
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Customer" type="Customer" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                    <![CDATA[
                    Customer element.
                    - Required, 1 occurence.
                    - Type: Customer.
                  ]]>
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="TestSpecification" type="TestSpecification" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                    <![CDATA[
                    TestSpecification element.
                    - Required, 1 or more occurences.
                    - Type: TestSpecification.
                  ]]>
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Documentation" type="Documentation" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                    <![CDATA[
                    Documentation element.
                    - Optional, 0 or more occurences.
                    - Type: Documentation.
                  ]]>
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Number" type="xs:string" use="required">
              <xs:annotation>
                <xs:documentation xml:lang="en">
                  <![CDATA[
                    Number attribute.
                    - Required.
                    - Type: xs:string.
                  ]]>
                </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Description" type="xs:string" use="required">
              <xs:annotation>
                <xs:documentation xml:lang="en">
                  <![CDATA[
                    Description attribute.
                    - Required.
                    - Type: xs:string.
                  ]]>
                </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Revision" type="xs:string" use="required">
              <xs:annotation>
                <xs:documentation xml:lang="en">
                  <![CDATA[
                    Revision attribute.
                    - Required.
                    - Type: xs:string.
                  ]]>
                </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Category" use="required">
              <xs:annotation>
                <xs:documentation xml:lang="en">
                  <![CDATA[
                    Category attribute:
                    - Required.
                    - Type: xs:enumeration.
                  ]]>
                </xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="Component">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">
                        <![CDATA[
                          Component:
                          - Discrete electrical, mechanical or electro-mechanical part.                          
                          - Typically purchased, not fabricated.
                        ]]>
                      </xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="CircuitCard">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">
                        <![CDATA[
                        <![CDATA[
                          Circuit Card:
                          - Rigid, Flexible or Rigid/Flexible Printed Circuit Board populated with Components.
                          - Typically assembled, not purchased.
                        ]]>
                      </xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="Harness">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">
                        <![CDATA[
                        <![CDATA[
                          Harness:
                          - Wired electro-mechanical Interconnect, potentially including Circuit Cards.
                          - Typically assembled, not purchased.
                        ]]>
                      </xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="Unit">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">
                        <![CDATA[
                        <![CDATA[
                          Unit:
                          - Multiple electro-mechanically Interconnected Components, Harnesses or Circuit Cards.
                          - May have custom container box.
                          - Typically assembled, not purchased.
                        ]]>
                      </xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="System">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">
                        <![CDATA[
                        <![CDATA[
                          System:
                          - Multiple electro-mechanically Interconnected Interconnected Units.
                          - Typically assembled, not purchased.
                        ]]>
                      </xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="Development" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              <![CDATA[
                Development complexType.
                - Required, 1 occurence.
                - Type: xs:element.
              ]]>
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Developer" type="Developer" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                    <![CDATA[
                    Developer element.
                    - Required, 1 or more occurences.
                    - Type: Developer.
                  ]]>
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Documentation" type="Documentation" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                    <![CDATA[
                    Documentation element.
                    - Optional, 0 or more occurences.
                    - Type: Documentation.
                  ]]>
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Repository" type="Repository" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                    <![CDATA[
                    Repository element.
                    - Optional, 0 or more occurences.
                    - Type: Repository.
                  ]]>
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Released" type="xs:date" use="required">
              <xs:annotation>
                <xs:documentation xml:lang="en">
                  <![CDATA[
                    Released attribute.
                    - Required.
                    - Type: xs:date.
                  ]]>
                </xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="Modifications" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              <![CDATA[
                Modifications complexType.
                - Required, 1 occurence.
                - Type: xs:element.
              ]]>
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Modification" type="Modification" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                    <![CDATA[
                    Modification element.
                    - Optional, 0 or more occurences.
                    - Type: Modification.
                  ]]>
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TestData" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              <![CDATA[
                TestData complexType.
                - Required, 1 occurence.
                - Type: xs:element.
              ]]>
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:choice>
              <xs:element name="TextFiles" type="TextFiles" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                    <![CDATA[
                    TextFiles element.
                    - Choice, 1 occurence.
                    - Type: TextFiles.
                  ]]>
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="SQLDB" type="SQLDB" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                    <![CDATA[
                    SQLDB element.
                    - Choice, 1 occurence.
                    - Type: SQLDB.
                  ]]>
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element name="Instruments" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              <![CDATA[
                Instruments complexType.
                - Required, 1 occurence.
                - Type: xs:element.
              ]]>
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Stationary" type="Stationary" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                    <![CDATA[
                      Stationary element.
                      - Optional, 0 or more occurences.
                      - Type: Stationary.
                    ]]>
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Mobile" type="Mobile" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                    <![CDATA[
                      Mobile element.
                      - Optional, 0 or more occurences.
                      - Type: Mobile.
                    ]]>
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TestSpace" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              <![CDATA[
                TestSpace element:
                - Required, 1 occurrence.
                - Type: xs:element.
          
                - TestSpace element, container for 1 or more TestOperation elements of type TestOperation.
              ]]>
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="TestOperation" type="TestOperation" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="NamespaceRoot" type="ValidCSharpNamespace" use="required">
              <xs:annotation>
                <xs:documentation xml:lang="en">
                  <![CDATA[
                    NamespaceRoot attribute:
                    - Required.
                    - Type: ValidCSharpNamespace.
          
                    NamespaceRoot is analogous to the root in a root/trunk/branch/leaf hierarchy.
                    - Note, namespaces are not Windows paths, even if both can be similarly named and are often conflated.
                  ]]>
                </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute ref="Description" use="required"/>
            <xs:attribute name="Simulate" type="xs:boolean" use="required">
              <xs:annotation>
                <xs:documentation xml:lang="en">
                  <![CDATA[
                    Simulate attribute:
                    - Required.
                    - Type: xs:boolean.
          
                    When Simulate="true", the TestSpecification execution is simulated; no Instrumentation or UUT necessary.
                    Quite limited, useful only for initial TestDefinition.
                  ]]>
                </xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
          <xs:unique name="UniqueClass">
            <xs:selector xpath="TestGroup"/>
            <xs:field xpath="@Class"/>
          </xs:unique>
          <xs:unique name="UniqueNamespaceTrunk">
            <xs:selector xpath="TestOperation"/>
            <xs:field xpath="@NamespaceTrunk"/>
          </xs:unique>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

