TestDefinition/ABT_Test.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema targetNamespace="ABT_Test"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:abt_test="ABT_Test"
           elementFormDefault="qualified">

  <xs:simpleType name="ValidCSharpNamespace">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        <![CDATA[
          ValidCSharpNamespace simpleType:
          - RegEx to validate a C# namespace; for example, "ABT.Test.TestLib.TestDefinition".
          - Type: xs:string + xs:restriction + xs:pattern.
        ]]>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(?:[A-Za-z_][A-Za-z0-9_]*)(?:\.[A-Za-z_][A-Za-z0-9_]*)*"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ValidWindowsPath">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        <![CDATA[
          ValidWindowsPath simpleType:
          - RegEx to validate a Windows Path; for example, "C:\Program Files\ABT\Test\TestLib\TestDefinition\".
          - Type: xs:string + xs:restriction + xs:pattern.
        ]]>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z]:(\\[^&lt;&gt;:&quot;/\\|?*]+)+"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ValidSerialNumber_BRHYYWW-123">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        <![CDATA[
          ValidSerialNumber_BRHYYWW-123 simpleType:
          - RegEx to validate Borisch's BRHYYWW-### SN format; for example, "BRH2432-123".
          - Type: xs:string + xs:restriction + xs:pattern.
        ]]>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="BRH-[0-9]{2}((0[1-9])|([1-4][0-9])|(5[0-2]))-[0-9]{3}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ValidSerialNumber_01BB2-12345">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        <![CDATA[
          ValidSerialNumber_01BB2-12345 simpleType:
          - RegEx to validate ABT's cage-coded SN format; for example, "01BB2-12345"
          - Type: xs:string + xs:restriction + xs:pattern.
        ]]>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="01BB2-[0-9]{5}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ValidSerialNumber_1234">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        <![CDATA[
          ValidSerialNumber_1234 simpleType:
          - RegEx to validate a 4 digit SN format; for example, "1234".
          - Type: xs:string + xs:restriction + xs:pattern.
        ]]>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{4}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ValidSerialNumber_12345">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        <![CDATA[
          ValidSerialNumber_12345 simpleType:
          - RegEx to validate a 5 digit SN format; for example, "12345".
          - Type: xs:string + xs:restriction + xs:pattern.
        ]]>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{5}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:attribute name="Folder" type="abt_test:ValidWindowsPath">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        <![CDATA[
            Folder attribute:
            - Type: ValidWindowsPath.
          ]]>
      </xs:documentation>
    </xs:annotation>
  </xs:attribute>

  <xs:attributeGroup name="SerialNumberAttributes">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        <![CDATA[
          SerialNumberAttributes attributeGroup:
          - Type: SerialEntry + SerialRegEx.
          ]]>
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="SerialEntry" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          SerialEntry attribute:
          - Required.
          - Type: xs:enumeration.
          ]]>
        </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Barcode"/>
          <xs:enumeration value="Barcode+Keyboard"/>
          <xs:enumeration value="Keyboard"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="SerialRegEx" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          SerialRegEx attribute:
          - Optional.
          - RegEx to validate Serial Number entry.
          - Type: xs:string + xs:restriction + xs:pattern.
          ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:attributeGroup name="InstrumentAttributeGroup">
    <xs:attribute name="ID" type="xs:ID" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          ID attribute:
          - Required.
          - Type: xs:ID.
          ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ClassName" type="abt_test:ValidCSharpNamespace" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          ClassName attribute:
          - Required.
          - Type: ValidCSharpNamespace.
          ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:complexType name="Customer">
    <xs:attribute name="Name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Name attribute:
          - Required.
          - Type: xs:string.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Division" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Division attribute:
          - Optional.
          - Type: xs:string.
          ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Location" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Location attribute:
          - Optional.
          - Type: xs:string.
          ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="TestSpecification">
    <xs:attribute name="Document" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Document attribute:
          - Required.
          - Type: xs:string.
          ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Revision" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Revision attribute:
          - Required.
          - Type: xs:string.
          ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Title" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Title attribute:
          - Optional.
          - Type: xs:string.
          ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Date" type="xs:date" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Date attribute:
          - Optional.
          - Type: xs:date.
          ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="Documentation">
    <xs:attribute ref="abt_test:Folder" use="required"/>
  </xs:complexType>

  <xs:complexType name="Repository">
    <xs:attribute name="URL" type="xs:anyURI" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
            URL attribute:
            -Required.
            -Type: xs:anyURI:
          ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="Developer">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        <![CDATA[
          Developer complexType:
          -Type: Developer.
        ]]>
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="Name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Name attribute:
          - Required.
          - Type: xs:string.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Language" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Language attribute:
          - Required.
          - Type: xs:enumeration.
        ]]>
        </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="C#"/>
          <xs:enumeration value="Python"/>
          <xs:enumeration value="VEE"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Comment" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Comment attribute:
          - Optional.
          - Type: xs:string.
          ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="Modification">
    <xs:attribute name="Who" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Who attribute:
          - Required.
          - Type: xs:string.
          ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="What" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          What attribute:
          - Required.
          - Type: xs:string.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="When" type="xs:date" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          When attribute:
          - Required.
          - Type: xs:date.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Where" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Where attribute:
          - Required.
          - Type: xs:string.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Why" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Why attribute:
          - Required.
          - Type: xs:string.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="TDR">
    <xs:attribute ref="abt_test:Folder" use="required"/>
    <xs:attributeGroup ref="abt_test:SerialNumberAttributes"/>
  </xs:complexType>

  <xs:complexType name="SQL">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        <![CDATA[
          SQL complexType:
          -Type: SQL.
        ]]>
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="ConnectionString" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          ConnectionString attribute:
          - Required.
          - Type: xs:string.
          ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="abt_test:SerialNumberAttributes"/>
  </xs:complexType>

  <xs:complexType name="Stationary">
    <xs:attributeGroup ref="abt_test:InstrumentAttributeGroup"/>
  </xs:complexType>

  <xs:complexType name="Mobile">
    <xs:attributeGroup ref="abt_test:InstrumentAttributeGroup"/>
    <xs:attribute name="Detail" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Detail attribute:
          - Required.
          - Type: xs:string.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Address" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Address attribute:
          - Required.
          - Type: xs:string.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>

