TestDefinition/ABT_TestDefinition.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:abt_test="ABT_Test"
           targetNamespace="ABT_TestDefinition"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

  <xs:import schemaLocation="file://C://Users//phils//source//repos//ABT//Test//TestLib//TestDefinition//ABT_Test.xsd"
             namespace="ABT_Test"/>

  <xs:element name="TestDefinition">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        <![CDATA[
          TestDefinition root element.
          - Required, 1 occurence.
          - Type: xs:element.
        ]]>
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="UUT" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              <![CDATA[
                UUT complexType.
                - Required, 1 occurence.
                - Type: xs:element.
              ]]>
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Customer" type="abt_test:Customer" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                    <![CDATA[
                    Customer element.
                    - Required, 1 occurence.
                    - Type: abt_test:Customer.
                  ]]>
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="TestSpecification" type="abt_test:TestSpecification" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                    <![CDATA[
                    TestSpecification element.
                    - Required, 1 or more occurences.
                    - Type: abt_test:TestSpecification.
                  ]]>
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Documentation" type="abt_test:Documentation" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                    <![CDATA[
                    Documentation element.
                    - Optional, 0 or more occurences.
                    - Type: abt_test:Documentation.
                  ]]>
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Number" type="xs:string" use="required">
              <xs:annotation>
                <xs:documentation xml:lang="en">
                  <![CDATA[
                    Number attribute.
                    - Required.
                    - Type: xs:string.
                  ]]>
                </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Description" type="xs:string" use="required">
              <xs:annotation>
                <xs:documentation xml:lang="en">
                  <![CDATA[
                    Description attribute.
                    - Required.
                    - Type: xs:string.
                  ]]>
                </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Revision" type="xs:string" use="required">
              <xs:annotation>
                <xs:documentation xml:lang="en">
                  <![CDATA[
                    Revision attribute.
                    - Required.
                    - Type: xs:string.
                  ]]>
                </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Type" use="required">
              <xs:annotation>
                <xs:documentation xml:lang="en">
                  <![CDATA[
                    Type attribute:
                    - Required.
                    - Type: xs:enumeration.
                  ]]>
                </xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="Component">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">
                        <![CDATA[
                          Component:
                          - Discrete electrical, mechanical or electro-mechanical part.                          
                          - Typically purchased, not fabricated.
                        ]]>
                      </xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="Circuit Card">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">
                        <![CDATA[
                        <![CDATA[
                          Circuit Card:
                          - Rigid, Flexible or Rigid/Flexible Printed Circuit Board populated with Components.
                          - Typically assembled, not purchased.
                        ]]>
                      </xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="Harness">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">
                        <![CDATA[
                        <![CDATA[
                          Harness:
                          - Wired electro-mechanical Interconnect, potentially including Circuit Cards.
                          - Typically assembled, not purchased.
                        ]]>
                      </xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="Unit">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">
                        <![CDATA[
                        <![CDATA[
                          Unit:
                          - Multiple electro-mechanically Interconnected Components, Harnesses or Circuit Cards.
                          - May have custom container box.
                          - Typically assembled, not purchased.
                        ]]>
                      </xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="System">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">
                        <![CDATA[
                        <![CDATA[
                          System:
                          - Multiple electro-mechanically Interconnected Interconnected Units.
                          - Typically assembled, not purchased.
                        ]]>
                      </xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="Development" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              <![CDATA[
                Development complexType.
                - Required, 1 occurence.
                - Type: xs:element.
              ]]>
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Developer" type="abt_test:Developer" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                    <![CDATA[
                    Developer element.
                    - Required, 1 or more occurences.
                    - Type: abt_test:Developer.
                  ]]>
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Documentation" type="abt_test:Documentation" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                    <![CDATA[
                    Documentation element.
                    - Optional, 0 or more occurences.
                    - Type: abt_test:Documentation.
                  ]]>
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Repository" type="abt_test:Repository" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                    <![CDATA[
                    Repository element.
                    - Optional, 0 or more occurences.
                    - Type: abt_test:Repository.
                  ]]>
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Released" type="xs:date" use="required">
              <xs:annotation>
                <xs:documentation xml:lang="en">
                  <![CDATA[
                    Released attribute.
                    - Required.
                    - Type: xs:date.
                  ]]>
                </xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="Modifications" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              <![CDATA[
                Modifications complexType.
                - Required, 1 occurence.
                - Type: xs:element.
              ]]>
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Modification" type="abt_test:Modification" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                    <![CDATA[
                    Modification element.
                    - Optional, 0 or more occurences.
                    - Type: abt_test:Modification.
                  ]]>
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TestData" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              <![CDATA[
                TestData complexType.
                - Required, 1 occurence.
                - Type: xs:element.
              ]]>
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:choice>
              <xs:element name="TDR" type="abt_test:TDR" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                    <![CDATA[
                    TDR element.
                    - Choice, 1 occurence.
                    - Type: abt_test:TDR.
                  ]]>
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="SQL" type="abt_test:SQL" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                    <![CDATA[
                    SQL element.
                    - Choice, 1 occurence.
                    - Type: abt_test:SQL.
                  ]]>
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element name="Instruments" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              <![CDATA[
                Instruments complexType.
                - Required, 1 occurence.
                - Type: xs:element.
              ]]>
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Stationary" type="abt_test:Stationary" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                    <![CDATA[
                      Stationary element.
                      - Optional, 0 or more occurences.
                      - Type: abt_test:Stationary.
                    ]]>
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Mobile" type="abt_test:Mobile" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                    <![CDATA[
                      Mobile element.
                      - Optional, 0 or more occurences.
                      - Type: abt_test:Mobile.
                    ]]>
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

