TestDefinition/app.config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:simpleType name="ValidCSharpNamespace">
    <xs:restriction base="xs:string">
      <xs:pattern value="(?:[A-Za-z_][A-Za-z0-9_]*)(?:\.[A-Za-z_][A-Za-z0-9_]*)*"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ValidWindowsPath">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z]:(\\[^&lt;&gt;:&quot;/\\|?*]+)+"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ValidSerialNumber_BRHYYWW-123">
    <xs:annotation>
      <xs:documentation xml:lang="en">RegEx to validate Borisch's BRHYYWW-### SN format; for example, "BRH2432-123".</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="BRH-[0-9]{2}((0[1-9])|([1-4][0-9])|(5[0-2]))-[0-9]{3}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ValidSerialNumber_01BB2-12345">
    <xs:annotation>
      <xs:documentation xml:lang="en">RegEx to validate ABT's cage-coded SN format; for example, "01BB2-12345".</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="01BB2-[0-9]{5}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ValidSerialNumber_1234">
    <xs:annotation>
      <xs:documentation xml:lang="en">RegEx to validate a 4 digit SN format; for example, "1234"./></xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{4}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ValidSerialNumber_12345">
    <xs:annotation>
      <xs:documentation xml:lang="en">RegEx to validate a 5 digit SN format; for example, "12345".</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{5}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="Part">
    <xs:sequence>
      <xs:element name="Customer" type="Customer" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            <![CDATA[
              Customer element:
              - Required, 1 or more occurrences.
              - Type: Customer.
            ]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TestSpecification" type="TestSpecification" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            <![CDATA[
              TestSpecification element:
              - Required, 1 or more occurrences.
              - Type: TestSpecification.
            ]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Documentation" type="Documentation" minOccurs="0" maxOccurs="unbounded" >
        <xs:annotation>
          <xs:documentation xml:lang="en">
            <![CDATA[
              Documentation element:
              - Optional, 0 or more occurrences.
              - Type: Documentation.
            ]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="Number" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Number attribute:
          - Required.
          - Type: xs:string.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Description" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Description attribute:
          - Required.
          - Type: xs:string.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Revision" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Revision attribute:
          - Required.
          - Type: xs:string.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Type" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Type attribute:
          - Required.
          - Type: xs:enumeration.
        ]]>
        </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Component"/>
          <xs:enumeration value="Harness"/>
          <xs:enumeration value="Circuit Card Assembly"/>
          <xs:enumeration value="Sub-Unit"/>
          <xs:enumeration value="Unit"/>
          <xs:enumeration value="Sub-System"/>
          <xs:enumeration value="System"/>
          <xs:pattern value=".*"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="Customer">
    <xs:attribute name="Name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Name attribute:
          - Required.
          - Type: xs:string.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Division" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Division attribute:
          - Required.
          - Type: xs:string.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Location" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Location attribute:
          - Required.
          - Type: xs:string.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="TestSpecification">
    <xs:attribute name="Document" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Document attribute:
          - Required.
          - Type: xs:string.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Date" type="xs:date" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Date attribute:
          - Required.
          - Type: xs:date.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Title" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Title attribute:
          - Required.
          - Type: xs:string.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Revision" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Revision attribute:
          - Required.
          - Type: xs:string.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="Documentation">
    <xs:attribute name="eDocs" type="ValidWindowsPath">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          eDocs attribute:
          - Optional.
          - Type: xs:ValidWindowsPath.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Manuals" type="ValidWindowsPath">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Manuals attribute:
          - Optional.
          - Type: xs:ValidWindowsPath.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="Developer">
    <xs:attribute name="Name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Name attribute:
          - Required.
          - Type: xs:string.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Date" type="xs:date" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Date attribute:
          - Required.
          - Type: xs:date.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="Language">
    <xs:attribute name="Name" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Name attribute:
          - Required.
          - Type: xs:enumeration.
        ]]>
        </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="C#"/>
          <xs:enumeration value="Python"/>
          <xs:enumeration value="VEE"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="Modification">
    <xs:attribute name="Who" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Who attribute:
          - Required.
          - Type: xs:string.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="What" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          What attribute:
          - Required.
          - Type: xs:string.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="When" type="xs:date" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          When attribute:
          - Required.
          - Type: xs:date.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Where" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Where attribute:
          - Required.
          - Type: xs:string.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Why" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Why attribute:
          - Required.
          - Type: xs:string.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="File">
    <xs:attribute name="Enabled" type="xs:boolean" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Enabled attribute:
          - Required.
          - Type: xs:boolean.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="TDR" type="ValidWindowsPath">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          TDR attribute:
          - Required if Enabled="true".
          - Type: xs:ValidWindowsPath.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="SQL">
    <xs:attribute name="Enabled" type="xs:boolean" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Enabled attribute:
          - Required.
          - Type: xs:boolean.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ConnectionString" type="xs:string">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          ConnectionString attribute:
          - Required if Enabled="true".
          - Type: xs:string.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="SerialNumber">
    <xs:attribute name="Entry" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          SerialNumber attribute:
          - Required.
          - Type: xs:enumeration.
        ]]>
        </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Barcode"/>
          <xs:enumeration value="Barcode+Keyboard"/>
          <xs:enumeration value="Keyboard"/>
          <xs:enumeration value="NONE"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="RegEx" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="InstrumentP">
    <xs:attribute name="ID" type="xs:ID" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          InstrumentP attribute:
          - Required.
          - Type: xs:ID.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ClassName" type="ValidCSharpNamespace" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          ClassName attribute:
          - Required.
          - Type: ValidCSharpNamespace.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="InstrumentT">
    <xs:attribute name="ID" type="xs:ID" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          InstrumentP attribute:
          - Required.
          - Type: xs:ID.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ClassName" type="ValidCSharpNamespace" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          ClassName attribute:
          - Required.
          - Type: ValidCSharpNamespace.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Detail" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Detail attribute:
          - Required.
          - Type: xs:string.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Address" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Address attribute:
          - Required.
          - Type: xs:string.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>


  <xs:element name="Definition" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="UUT" type="Part" minOccurs="1" maxOccurs="1"/>
        <xs:element name="Development" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Developers" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Developer" type="Developer" minOccurs="1" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">
                          <![CDATA[
                            Developer element:
                            - Required, 1 or more occurrences.
                            - Type: Developer.
                          ]]>
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Languages" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Language" type="Language" minOccurs="1" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">
                          <![CDATA[
                            Languages element:
                            - Required, 1 or more occurrences.
                            - Type: Language.
                          ]]>
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Modifications" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Modification" type="Modification" minOccurs="0" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">
                          <![CDATA[
                            Modification element:
                            - Optional, 0 or more occurrences.
                            - Type: Modification.
                          ]]>
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Logger" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="File" type="File" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                    <![CDATA[
                            File element:
                            - Optional, 0 or 1 occurrences.
                            - Type: File.
                    ]]>
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="SQL" type="SQL" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                    <![CDATA[
                            SQL element:
                            - Optional, 0 or 1 occurrences.
                            - Type: SQL.
                    ]]>
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="SerialNumber" type="SerialNumber" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                    <![CDATA[
                            SerialNumber element:
                            - Required, 1 occurrence.
                            - Type: SerialNumber.
                    ]]>
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="InstrumentsRequired" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Permanent" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="InstrumentP" type="InstrumentP" minOccurs="0" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">
                          <![CDATA[
                            InstrumentP element:
                            - Optional, 0 more occurrences.
                            - Type: InstrumentP.
                          ]]>
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Temporary" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="InstrumentT" type="InstrumentT" minOccurs="0" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">
                          <![CDATA[
                            InstrumentT element:
                            - Optional, 0 more occurrences.
                            - Type: InstrumentT.
                        ]]>
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
