TestDefinition/app.config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:simpleType name="ValidCSharpNamespace">
    <xs:restriction base="xs:string">
      <xs:pattern value="(?:[A-Za-z_][A-Za-z0-9_]*)(?:\.[A-Za-z_][A-Za-z0-9_]*)*"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ValidWindowsPath">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z]:(\\[^&lt;&gt;:&quot;/\\|?*]+)+"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ValidSerialNumber_BRHYYWW-123">
    <xs:annotation>
      <xs:documentation xml:lang="en">RegEx to validate Borisch's BRHYYWW-### SN format; for example, "BRH2432-123".</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="BRH-[0-9]{2}((0[1-9])|([1-4][0-9])|(5[0-2]))-[0-9]{3}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ValidSerialNumber_01BB2-12345">
    <xs:annotation>
      <xs:documentation xml:lang="en">RegEx to validate ABT's cage-coded SN format; for example, "01BB2-12345".</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="01BB2-[0-9]{5}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ValidSerialNumber_1234">
    <xs:annotation>
      <xs:documentation xml:lang="en">RegEx to validate a 4 digit SN format; for example, "1234"./></xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{4}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ValidSerialNumber_12345">
    <xs:annotation>
      <xs:documentation xml:lang="en">RegEx to validate a 5 digit SN format; for example, "12345".</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{5}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:attribute name="Name" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        <![CDATA[
          Name attribute:
          - Type: xs:string.
        ]]>
      </xs:documentation>
    </xs:annotation>
  </xs:attribute>

  <xs:attribute name="Folder" type="ValidWindowsPath">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        <![CDATA[
            Folder:
            - Type: xs:attribute.
          ]]>
      </xs:documentation>
    </xs:annotation>
  </xs:attribute>

  <xs:complexType name="Customer">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        <![CDATA[
          Customer complexType.
          - Type: Customer.
          ]]>
      </xs:documentation>
    </xs:annotation>
    <xs:attribute ref="Name" use="required">
    </xs:attribute>
    <xs:attribute name="Division" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Division attribute:
          - Optional.
          - Type: xs:string.
          ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Location" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Location attribute:
          - Optional.
          - Type: xs:string.
          ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="TestSpecification">
    <xs:attribute name="Document" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Document attribute:
          - Required.
          - Type: xs:string.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Revision" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Optional attribute:
          - Required.
          - Type: xs:string.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Title" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Optional attribute:
          - Optional.
          - Type: xs:string.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Date" type="xs:date" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Date attribute:
          - Optional.
          - Type: xs:date.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="Documentation">
    <xs:attribute ref="Folder" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Documentation:
          -Type: complexType:
          ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="Repository">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        <![CDATA[
          Repository complexType:
          -Type: complexType:
          ]]>
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="URL" type="xs:anyURI" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          URL attribute:
          -Required.
          -Type: xs:anyURI:
          ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="Developer">
    <xs:attribute ref="Name" use="required"/>
    <xs:attribute name="Language" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Name attribute:
          - Required.
          - Type: xs:enumeration.
        ]]>
        </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="C#"/>
          <xs:enumeration value="Python"/>
          <xs:enumeration value="VEE"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Comment" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="Modification">
    <xs:attribute name="Who" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Who attribute:
          - Required.
          - Type: xs:string.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="What" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          What attribute:
          - Required.
          - Type: xs:string.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="When" type="xs:date" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          When attribute:
          - Required.
          - Type: xs:date.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Where" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Where attribute:
          - Required.
          - Type: xs:string.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Why" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Why attribute:
          - Required.
          - Type: xs:string.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="File">
    <xs:attribute name="Enabled" type="xs:boolean" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Enabled attribute:
          - Required.
          - Type: xs:boolean.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="TDR" type="ValidWindowsPath">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          TDR attribute:
          - Required if Enabled="true".
          - Type: xs:ValidWindowsPath.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="SQL">
    <xs:attribute name="Enabled" type="xs:boolean" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Enabled attribute:
          - Required.
          - Type: xs:boolean.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ConnectionString" type="xs:string">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          ConnectionString attribute:
          - Required if Enabled="true".
          - Type: xs:string.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="SerialNumber">
    <xs:attribute name="Entry" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          SerialNumber attribute:
          - Required.
          - Type: xs:enumeration.
        ]]>
        </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Barcode"/>
          <xs:enumeration value="Barcode+Keyboard"/>
          <xs:enumeration value="Keyboard"/>
          <xs:enumeration value="NONE"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="RegEx" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="Stationary">
    <xs:attribute name="ID" type="xs:ID" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          ID attribute:
          - Required.
          - Type: xs:ID.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ClassName" type="ValidCSharpNamespace" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          ClassName attribute:
          - Required.
          - Type: ValidCSharpNamespace.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="Mobile">
    <xs:attribute name="ID" type="xs:ID" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          ID attribute:
          - Required.
          - Type: xs:ID.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ClassName" type="ValidCSharpNamespace" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          ClassName attribute:
          - Required.
          - Type: ValidCSharpNamespace.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Detail" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Detail attribute:
          - Required.
          - Type: xs:string.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Address" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          <![CDATA[
          Address attribute:
          - Required.
          - Type: xs:string.
        ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:element name="TestDefinition">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="UUT" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Customer" type="Customer" minOccurs="1" maxOccurs="1"/>
              <xs:element name="TestSpecification" type="TestSpecification" minOccurs="1" maxOccurs="unbounded"/>
              <xs:element name="Documentation" type="Documentation" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="Number" type="xs:string" use="required"/>
            <xs:attribute name="Description" type="xs:string" use="required"/>
            <xs:attribute name="Revision" type="xs:string" use="required"/>
            <xs:attribute name="Type" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="Development">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Developer" type="Developer" minOccurs="1" maxOccurs="unbounded" />
              <xs:element name="Documentation" type="Documentation" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="Repository" type="Repository" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="Released" type="xs:date" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="Modifications">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Modification" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="Who" type="xs:string" use="required"/>
                  <xs:attribute name="What" type="xs:string" use="required"/>
                  <xs:attribute name="When" type="xs:date" use="required"/>
                  <xs:attribute name="Where" type="xs:string" use="required"/>
                  <xs:attribute name="Why" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TestData">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="TDR">
                <xs:complexType>
                  <xs:attribute name="Folder" type="xs:string"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="SQL">
                <xs:complexType>
                  <xs:attribute name="ConnectionString" type="xs:string"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Enabled" type="xs:boolean" use="required"/>
            <xs:attribute name="SerialEntry" type="xs:string" use="required"/>
            <xs:attribute name="SerialRegEx" type="xs:string"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="Instruments">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Stationary" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="ID" type="xs:string" use="required"/>
                  <xs:attribute name="ClassName" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Mobile" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="ID" type="xs:string" use="required"/>
                  <xs:attribute name="ClassName" type="xs:string" use="required"/>
                  <xs:attribute name="Detail" type="xs:string"/>
                  <xs:attribute name="Address" type="xs:string"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

